@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #1a1a1a;
  --color-accent: #FF4F00;
  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Inter", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border: 1px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}

body {
  @apply bg-background text-white font-sans overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-mono;
}